@font-face {
  font-family: "RobotoRegular";
  src: url("/assets/font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoBold";
  src: url("/assets/font/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSemiBold";
  src: url("/assets/font/Roboto-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoMedium";
  src: url("/assets/font/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
